.page {
  margin: auto;
  max-width: 100vw;
  height: auto;
  font-family: 'Inter', 'Arial', sans-serif;
  background: #000;
  color: #fff;
  text-rendering: optimizeLegibility;
  font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

/*
@media screen and (max-width: 1024px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    min-width: 425px;
  }
}

@media screen and (max-width: 320px) {
  .page {
      min-width: 320px;
  }
} 
*/